<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- http://devdocs.magento.com/guides/v2.3/payments-integrations/base-integration/facade-configuration.html -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="cashpresso_instructions_config_provider" xsi:type="object">LimeSoda\Cashpresso\Model\InstructionsConfigProvider</item>
                <item name="cashpresso_config_provider" xsi:type="object">LimeSoda\Cashpresso\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Onepage\Success">
        <plugin name="checkout_onepage_success " type="LimeSoda\Cashpresso\Plugin\Checkout\OnepageSuccessPlugin" sortOrder="1"/>
    </type>

    <type name="\Magento\Checkout\Controller\Cart\Add">
        <plugin name="cashpresso_checkout_redirect" type="LimeSoda\Cashpresso\Plugin\Checkout\RedirectPlugin" sortOrder="1"/>
    </type>

    <!--<type name="\Magento\Framework\Pricing\Render\Amount">
        <plugin name="cashpresso_price_render" type="LimeSoda\Cashpresso\Plugin\PricePlugin" sortOrder="1"/>
    </type>-->
</config>